<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="19"
    android:versionName="0.7" package="de.questmaster.tudmensa" xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal">
    <application android:allowClearUserData="true"
        android:icon="@drawable/essenlogo" android:label="@string/app_name" android:debuggable="true">
        <activity android:label="@string/app_name" android:name=".MensaMeals">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/settings_name" android:name=".MensaMealsSettings"/>
        <activity android:name=".HelpDialog"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>
</manifest>
