<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.questmaster.tudmensa" android:versionName="0.6.2" android:installLocation="auto" android:versionCode="15">
	
	<application android:icon="@drawable/essenlogo"
		android:label="@string/app_name" android:allowClearUserData="true">
		<activity android:name=".MensaMeals" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".MensaMealsSettings" android:label="@string/settings_name"></activity>
	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>

</manifest> 